/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    /*margin-left: 10%;*/ 
}

/* Main container styles */
.view {
    display : flex;
    max-width: 70%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Question container styles */
.question-container {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin: 20px 0;
    padding: 10px;
    border-radius: 5px;
}

/* Question content styles */
.question-content h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.question-content p {
    font-size: 16px;
    color: #555;
}

/* Correct answer styles */
.correct-answer h3 {
    font-size: 18px;
    color: #333;
    margin-top: 10px;
    margin-bottom: 10px;
}

.correct-answer p {
    font-size: 16px;
    color: #555;
}
