<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <filter>
        <filter-name>LoginFiller</filter-name>
        <filter-class>Filler.LoginFiller</filter-class>
    </filter>
    <filter>
        <filter-name>QuizzFiller</filter-name>
        <filter-class>Filler.QuizzFiller</filter-class>
    </filter>
    <filter>
        <filter-name>LearnFiller</filter-name>
        <filter-class>Filler.LearnFiller</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LearnFiller</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFiller</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>QuizzFiller</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>Controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeLanguage</servlet-name>
        <servlet-class>Controller.ChangeLanguage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InstructionServlet</servlet-name>
        <servlet-class>Controller.InstructionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizServlet</servlet-name>
        <servlet-class>Controller.QuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfile</servlet-name>
        <servlet-class>Controller.UpdateProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateTest</servlet-name>
        <servlet-class>Controller.CreateTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResultData</servlet-name>
        <servlet-class>Controller.ResultData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePass</servlet-name>
        <servlet-class>Controller.ChangePass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryServlet</servlet-name>
        <servlet-class>Controller.HistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>Controller.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCourse</servlet-name>
        <servlet-class>Controller.AddCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuestion</servlet-name>
        <servlet-class>Controller.AddQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentStripe</servlet-name>
        <servlet-class>Controller.PaymentStripe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LearnServlet</servlet-name>
        <servlet-class>Controller.LearnServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudySevlet</servlet-name>
        <servlet-class>Controller.StudySevlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeLanguage</servlet-name>
        <url-pattern>/language</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InstructionServlet</servlet-name>
        <url-pattern>/instruction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizServlet</servlet-name>
        <url-pattern>/quiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfile</servlet-name>
        <url-pattern>/updateInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateTest</servlet-name>
        <url-pattern>/createquiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResultData</servlet-name>
        <url-pattern>/resultquiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePass</servlet-name>
        <url-pattern>/changepass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryServlet</servlet-name>
        <url-pattern>/history</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCourse</servlet-name>
        <url-pattern>/addcourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuestion</servlet-name>
        <url-pattern>/addquest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentStripe</servlet-name>
        <url-pattern>/PaymentStripe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LearnServlet</servlet-name>
        <url-pattern>/Learn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudySevlet</servlet-name>
        <url-pattern>/Study</url-pattern>
    </servlet-mapping>
    <mime-mapping>
        <extension>css</extension>
        <mime-type>text/css</mime-type>
    </mime-mapping>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>Controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CoursesServlet</servlet-name>
        <servlet-class>Controller.CoursesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CoursesServlet</servlet-name>
        <url-pattern>/courses</url-pattern>
    </servlet-mapping>
</web-app>
